* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    border: 2px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: silver;
}

a {
    text-decoration: none;
    color: #000;
}

.catalog {
    margin: 20px 20px;
}

.heading {
    color: gold;
}

.products {
    margin-top: 20px;
    list-style-type: none;
}

.list {
    margin-bottom: 10px;
}